* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
header {
    background-color: black;
    color: white;    
    font-weight: 700;
    height: 5vw;
    margin-bottom: 1vw;
    padding-left: 3vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main-shaded {
    position: relative;
    z-index: 1;
    background-color: aliceblue;
    opacity: 0.5;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.all-parks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
}
.parks {
    background-position: center;
    background-size: cover;
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.parks > h5 {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 1vw;
}
.active-box {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.active-img {
    background-position: center;
    background-size: cover;
    height: 20vw;
    width: 20vw;
    margin: auto 3vw;
}
.active-subox{
    background-color: blanchedalmond;
    width: 70vw;
    /* height: 20vw; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2vw;
    box-shadow: 0 0 2vw 2vw rgba(0, 0, 0, 0.5);
}
.active-close {
    display: float;
    float: right;
    background-color: rgba(255,255,255,0);
    border: none;
}
.hidden {
    display: none;
}

/* https://medium.com/cloud-native-the-gathering/how-to-use-css-to-fade-in-and-fade-out-html-text-and-pictures-f45c11364f08 */
.fade-in {
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @media screen and (min-width: 992px) {
    .all-parks {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1vw;
    }
    .parks {
        background-position: center;
        background-size: cover;
        width: 15vw;
        height: 15vw;
    }
  }
  